body{
	height: 748px;
	width: 1024px;
	background-color: black;
}
.imagen_galeria{
	float: left;
	margin-left: 70px;

	-webkit-transform: rotateY(-60deg);

	-webkit-box-reflect: below 2px -webkit-linear-gradient(bottom, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);

	-webkit-transition: -webkit-transform 0.3s;

}
.imagen_galeria:active{
	-webkit-transform: rotateY(0deg) scale(2);
}
#escenario{
	-webkit-perspective: 200;
	position: absolute;
	top: 370px;
	left: 20px;
	width: 950px;
	height: 200px;
	padding-left: 100px;

}
#escenario img{
	width: 200px;
}